In [1]:
import pandas as pd

In [7]:
results = pd.read_csv("results_per_size.csv")
results = results.drop(["Unnamed: 0"], axis=1)

In [8]:
results

,memory_size,average,variance,median,true_value,abs_average_diff,abs_median_diff
0,5000,1.630303e+06,9.138056e+09,1.652297e+06,1612010,18293.430467,40287.405920
1,10000,1.613839e+06,2.644724e+08,1.614011e+06,1612010,1829.087213,2000.863592
2,20000,1.614370e+06,4.856817e+08,1.615486e+06,1612010,2359.876999,3476.255976
3,30000,1.614890e+06,1.609289e+08,1.615342e+06,1612010,2880.252001,3331.869916
4,90000,1.612010e+06,0.000000e+00,1.612010e+06,1612010,0.000000,0.000000

In [9]:
results_impr = pd.read_csv("results_impr_per_size.csv")
results_impr = results_impr.drop(["Unnamed: 0"], axis=1)
results_impr

,memory_size,average,variance,median,true_value,abs_average_diff,abs_median_diff
0,5000,1.602375e+06,1.468062e+09,1.600598e+06,1612010,9634.763476,11412.411131
1,10000,1.635917e+06,8.533742e+08,1.641420e+06,1612010,23906.646165,29409.883436
2,20000,1.619235e+06,1.410105e+09,1.611849e+06,1612010,7224.644347,160.655105
3,30000,1.608022e+06,2.642199e+08,1.614601e+06,1612010,3987.828475,2590.565344
4,90000,1.612010e+06,0.000000e+00,1.612010e+06,1612010,0.000000,0.000000